PORT=3001

DISTANCE=100

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=jornadadb
DATABASE_USERNAME=postgres
DATABASE_PASS=root

SUPERADMIN_EMAIL=super@super.com
SUPERADMIN_PASS=superadmin

TOKEN=secreto

CHECK_DISTANCE=false


FIREBASE_SERVICE_ACCOUNT_KEY=''


FIREBASE_STORAGE_BUCKET=''
